name: "Regular Expression (Extended)"
scopeName: "source.regexp.extended"
firstLineMatch: "^\\s*\\(\\?[im]*x[im]*\\)"
patterns: [{
	
	begin: "#"
	end:   "$"
	name: "comment.line.number-sign"

}, include: "source.regexp"]
