name: "Regular Expression"
scopeName: "source.regexp"
fileTypes: ["regexp", "regex"]
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "#oniguruma"}
			{include: "#escape"}
			{include: "#group"}
			{include: "#class"}
		]


	class:
		name: "meta.character-class.set.regexp"
		begin: "\\["
		end:   "\\]"
		beginCaptures: 0: name: "punctuation.definition.character-class.set.begin.regexp"
		endCaptures:   0: name: "punctuation.definition.character-class.set.end.regexp"
		patterns: [include: "$self"]

	escape:
		name: "constant.character.escape.regexp"
		match: "\\\\."

	group:
		patterns: [{
			name: "meta.group.non-capturing.regexp"
			begin: "\\(\\?:"
			end:   "\\)"
			beginCaptures: 0: name: "punctuation.definition.group.begin.regexp"
			endCaptures:   0: name: "punctuation.definition.group.end.regexp"
			patterns: [include: "$self"]
		},{
			name: "meta.group.atomic.regexp"
			begin: "\\(\\?>"
			end:   "\\)"
			beginCaptures: 0: name: "punctuation.definition.group.begin.regexp"
			endCaptures:   0: name: "punctuation.definition.group.end.regexp"
			patterns: [include: "$self"]
		},{
			name: "meta.group.regexp"
			begin: "\\("
			end:   "\\)"
			beginCaptures: 0: name: "punctuation.definition.group.begin.regexp"
			endCaptures:   0: name: "punctuation.definition.group.end.regexp"
			patterns: [include: "$self"]
		}]

	oniguruma:
		begin: "\\(\\?#"
		end:   "\\)"
		name: "comment.block.oniguruma"
		patterns: [
			match: "\\\\."
			name: "constant.escape.backslash.oniguruma"
		]
