".source.regexp":
	editor:
		commentStart: "(?\# "
		commentEnd:   ")"
		increaseIndentPattern: "(?x)\\([^\\)]*$"
		decreaseIndentPattern: "^\\s+\\)"

".source.regexp.extended":
	editor:
		commentStart: "# "

".source.sy":
	editor:
		commentStart: "# "
		increaseIndentPattern: """(?x)
			(?: [{\\[<]        # Opening array/block
			|   \\S:(?=\\s|$)  # Key/value separator
			) \\s*

			# Unpaired open bracket:
			( \\{ [^\\]}>"'`]*  # Curly
			| \\[ [^\\]}>"'`]*  # Square
			| \\( [^\\])>"'`]*  # Round
			|   < [^\\])>"'`]*  # Angle
			)?

			# Multi-line string
			(\""" (?!.*\""").*  # Double-quotes
			| ''' (?!.* ''').*  # Single-quotes
			| ``` (?!.* ```).*  # Backticks
			| /// (?!.* ///).*  # RegExp
			)?
			$
		"""
		decreaseIndentPattern: """(?x)
			^ \\s*
			( [}\\]>]
			| [/'"`]{3}
			)
		"""
