".platform-darwin atom-text-editor[data-grammar^='source regexp']":
	"cmd-c": "language-regexp:copy"
	"cmd-x": "language-regexp:cut"
	"cmd-v": "language-regexp:paste"

".platform-win32 atom-text-editor[data-grammar^='source regexp'],
 .platform-linux atom-text-editor[data-grammar^='source regexp']":
	"ctrl-c": "language-regexp:copy"
	"ctrl-x": "language-regexp:cut"
	"ctrl-v": "language-regexp:paste"
