".platform-darwin atom-text-editor[data-grammar~=regexp]":
	"cmd-c":       "language-regexp:copy-compressed"
	"cmd-x":       "language-regexp:cut-compressed"
	"cmd-shift-C": "language-regexp:copy-escaped"
	"cmd-shift-X": "language-regexp:cut-escaped"
	"cmd-shift-V": "language-regexp:paste-unescaped"

".platform-win32 atom-text-editor[data-grammar~=regexp],
 .platform-linux atom-text-editor[data-grammar~=regexp]":
	"ctrl-c":       "language-regexp:copy-compressed"
	"ctrl-x":       "language-regexp:cut-compressed"
	"ctrl-shift-C": "language-regexp:copy-escaped"
	"ctrl-shift-X": "language-regexp:cut-escaped"
	"ctrl-shift-V": "language-regexp:paste-unescaped"
